{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Registration" %}{% endblock title %}

{% block container %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

        <div class="panel panel-base mrg-t-100 mrg-xs-t-0">

            <div class="panel-heading">
                <h4 class="text-uppercase">Please Sign UP</h4>
            </div>

            <div class="panel-body">

                <form class="form form-horizontal" method="POST" action="">
                    {%csrf_token%}
                    <input type="hidden" name="next" value="/">
                    <div class="form-group">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" id="id_username" placeholder="User Name"
                                   class="form-control  ms-form-control ms-round" name="username" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" id="id_email" placeholder="Email"
                                   class="form-control  ms-form-control ms-round" name="email" value="">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-12">
                                <input type="password" id="id_password" placeholder="Password"
                                       class="form-control  ms-form-control ms-round" name="password">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-12">
                                <input type="password" id="id_password2" placeholder="Confirm Password"
                                       class="form-control  ms-form-control ms-round" name="password2">
                        </div>
                    </div>

                    <div class="form-group mrg-b-0">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-8">
                            <button type="submit" class="btn btn-base ms-round w100" id="signup_button">
                                <span class="fa fa-check"></span>
                                Sign UP
                            </button>
                        </div>
                    </div>
                </form>


            </div>

        </div>

    </div>
</div>
{% endblock container %}