
.folder {
    width: 100px;
    height: 50px;
    padding-top: 50px;
    border: solid 1px #000;
    position: relative;
    text-align: center;
    float:left;
    margin: 20px;
}

.folder:after {
    content: " ";
    width: 50px;
    height: 35px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 1px 1px 0 1px #CCCCCC;
    display: block;
    background-color: #708090;
    position: absolute;
    top: 15px;
    left: 25px;
    float:left;
}

.folder:before {
    content: " ";
    width: 25px;
    height: 5px;
    border-radius: 5px 15px 0 0;
    display: block;
    background-color: #708090;
    position: absolute;
    top: 10px;
    left: 25px;
    float:left;
}


.choose_file {
    position: relative;
    display: inline-block;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: white
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}

.upload-file{
    float: left;
}

.panel-base {
     border-color: rgba(255, 232, 183, 0.75);
    border-radius: 15px;
    overflow: hidden;
 }

.ms-round{
    border-radius: 15px;
}
.ms-round.btn-lg{
    border-radius: 25px;
}
