{% load i18n static %}

<script type="x-tmpl-mustache" id="folder_creation_template" >

<div class="row">
    <div class="col-sm-12">

        <form id="folder_creation_form" class="form form-horizontal" method="post"
              action="[[action]]">
            {% csrf_token %}

            <div class="form-group" id="FolderCreationSuccessMessageBox" style="display: none">
                <div class="col-xs-12">
                    <div class="center alert alert-danger" >
{#                        <a href="#" class="close" data-dismiss="alert">&times;</a>#}
                        <span class="form_field_error" id="id___all___error"></span>
                    </div>
                </div>
            </div>

            <input id="id_current_folder_id"
                   type="hidden" class="form-control ms-form-control ms-round"
                   name="parent" readonly
                   value="[[current_folder_id]]">


            <div class="form-group">
                <label class="col-sm-3 required" for="id_folder_name">
                    {% trans "Folder Name" %}
                </label>
                <div class="col-sm-6">
                    <input id="id_folder_name"
                           type="text" class="form-control ms-form-control ms-round"
                           name="name"
                           value="[[name]]">
                    <span class="form_field_error" id="id_folder_name_error"></span>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn ms-round btn-base btn-sm w100 create_folder_submit_btn">
                        {% trans "Create" %}
                    </button>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <img class="hidden create_folder_processing_status_img"
                         src="{% static 'img/ajax-loader-stripe-002.gif' %}">
                </div>
            </div>

        </form>
    </div>
</div>

</script>