{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "File Storage" %}{% endblock title %}

{% block container %}
<div class="modal fade" id="folder_creation_modal" tabindex="-1"
     role="dialog" aria-labelledby="folder-creation-label">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="folder_creation_modal_label">
                </h4>
            </div>

            <div class="modal-body" id="folder_creation_modal_body" data-action="">
            </div>

            <!--<div class="modal-footer" id="folder_creation_modal_footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="panel panel-base mrg-t-100 mrg-xs-t-0">
            <div class="panel-heading">
                <div class="">
                    <h3 class="panel-title"><strong>Folders: </strong>
                        <a href="#" data-action="{% url 'storage:create_folder' %}"
                            data-current_folder_id="{{current_folder.id}}"
                            data-toggle="tooltip" title="create folder"
                            id="create_folder">
                            <span class="glyphicon glyphicon-plus-sign"  style="color: darkcyan"></span>
                        </a>
                    </h3>
                </div>
                <div class="parent_folder">
                    <h5 class="panel-title"><strong>Parent Dir: </strong>
                        <a href="{%if parent_folder %}{% url 'storage:visit_folder' parent_folder.id %}{%else%}/{%endif%}"
                            data-toggle="tooltip" title="Parent Directory" id="parent_folder">
                            <span class="glyphicon glyphicon-share-alt" style="color: cadetblue"></span>
                        </a>
                    </h5>
                </div>
                <div class="current_folder">
                    <h5 class="panel-title"><strong>Current Dir: </strong><span style="color: sienna">{%if current_folder%}{{current_folder.name}}{%else%}root{%endif%}</span></h5>
                </div>
            </div>
            <hr>

            <div class="panel-body">
                <div id="folder_list_data">
                    {% for folder in sub_folders %}
                    <div class="each-folder">
                        <a href="{% url 'storage:visit_folder' folder.id %}">
                            <div class="folder pd-r-20 mrg-b-20">{{folder.name}}</div>
                        </a>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="panel panel-base mrg-t-100 mrg-xs-t-0">
            <div class="panel-heading">
                <div class="home_folder">
                    <h3 class="panel-title"><strong>Files: </strong></h3>
                </div>

                <div class="">
                    <form id='file_upload_form' action="{% url 'storage:upload_file' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="upload-file">
                            <input id='file_id' type='file' name='file'/>
                            <input id='folder_id' type='text' name='folder' value="{{current_folder.id}}" hidden/>
                            <input id='user_id' type='text' name='user' value="{{request.user.id}}" hidden/>
                        </div>
                        <div class="upload-file">
                            <input id='upload_button' type='submit' value='Upload' />
                        </div>
                    </form>
                </div>
            </div>


            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered bg-fx1" style="margin-bottom: 30px;">
                        <thead>
                            <tr >
                                <th class="text-center"><strong>Name |</strong><a href="?order_by=-file" id="sort_desc_name"><span class="glyphicon glyphicon-arrow-up"></span></a> | <a href="?order_by=file" id="sort_asc_name"><span class="glyphicon glyphicon-arrow-down"></span></a></th>
                                <th class="text-center">{% trans 'Type' %}</th>
                                <th class="text-center"><strong>Uploaded at |</strong><a href="?order_by=-uploaded_at" id="sort_desc_uploaded_at"><span class="glyphicon glyphicon-arrow-up"></span></a> | <a href="?order_by=uploaded_at" id="sort_asc_uploaded_at"><span class="glyphicon glyphicon-arrow-down"></span></a></th>
                            </tr>
                        </thead>
                        <tbody id="file_list_data">
                            {% for file in files %}
                                <tr class="text-center">
                                <td>{{file}}</td>
                                <td>{{file.file_type}}</td>
                                <td>{{file.uploaded_at}}</td>
                                </tr>
                            {% endfor %}
                        {% if not files %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}

{% block extra_js %}
<script src="{% static 'js/mustache.min.js' %}"></script>

{% include 'storage/create_folder_template.html' %}

<script type="text/javascript">
    $(function () {

    Mustache.tags = ['[[', ']]'];

    var $folder_creation_modal = $('#folder_creation_modal');
    var $folder_creation_modal_body = $('#folder_creation_modal_body');
    var $folder_creation_modal_label = $('#folder_creation_modal_label');

    var folder_Creations_template = $('#folder_creation_template').html();


    $('body').on('click', '#create_folder', function (e) {
        e.preventDefault();
        var $that = $(this);

        var $folder_creation_url = $that.attr('data-action');
        var $current_folder_id = $that.attr('data-current_folder_id');

        console.log($folder_creation_url);
        console.log($current_folder_id);

        $folder_creation_modal.modal({keyboard: false, backdrop: 'static'});
        $folder_creation_modal_label.html('Create Folder');

        $folder_creation_modal_body.empty();

        var folder_creation_template_rendered = Mustache.to_html(folder_Creations_template,
            {
                'action': $folder_creation_url,
                'current_folder_id': $current_folder_id
            });

        $folder_creation_modal_body.html(folder_creation_template_rendered);

    });

    $folder_creation_modal.on('hidden.bs.modal', function (e) {
        $folder_creation_modal.children('.modal-dialog').removeClass('modal-lg');
    });


    $('body').on('submit', '#folder_creation_form', function (e) {
        e.preventDefault();
        var $that = $(this);

        var $create_folder_processing_status_img = $('.create_folder_processing_status_img');
        var $create_folder_submit_btn = $('.create_folder_submit_btn');
        var $folder_list_data = $('#folder_list_data');


        $create_folder_submit_btn.addClass('hidden');
        $create_folder_processing_status_img.removeClass('hidden');

        $.ajax({
            url: $that.attr("action"),
            beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));},
            type: 'POST',
            data: $that.serialize(),
            dataType: 'json',
            success: function(json) {
                if (json.status == 'success') {
                    console.log('post request status success - agent info edit');
                    $create_folder_processing_status_img.addClass('hidden');
                    $folder_creation_modal.modal('hide');
                    $('#FolderCreationSuccessMessageBox').show().delay(2500).fadeOut();
                    $folder_list_data.append(json.after_folder_creation_template);

                } else if (json.status == 'error') {
                    console.log("first request status error" + json);

                    $create_folder_processing_status_img.addClass('hidden');
                    $create_folder_submit_btn.removeClass('none');
                    $('#AorCreationFailureMessageBox').show().delay(2500).fadeOut();

                    handle_errors(json.aor_form_error_keys, json.aor_form_errors);
                } else {
                    console.log("unknown status");
                    $create_folder_processing_status_img.addClass('hidden');
                    $create_folder_submit_btn.removeClass('none');
                }
            },
            error: function() {
                $create_folder_processing_status_img.addClass('hidden');
                $create_folder_submit_btn.removeClass('hidden');
                alert("Internal Error; Please try again after some time.");
            }
        });

    });

    var $file_upload_form = $('#file_upload_form');
    var $file_list_data = $('#file_list_data');

    $file_upload_form.submit(function (ev) {
        ev.preventDefault();
        $.ajax({
            url: $file_upload_form.attr('action'),
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            data: new FormData(this),
            type: 'POST',
            datatype: 'json',

            success: function (json) {
                console.log(json);
                $file_list_data.append(json.after_file_upload_template);
            },
            error: function (json) {
                console.log(json.error);
            },

            cache: false,
            processData: false,
            contentType: false

        });
    });

    function handle_errors(error_keys, errors) {
        $.each(error_keys, function(index, error_key) {
            $('#id_'+ error_key + '_error').html(errors[error_key].join(' '));
        });
    }

});
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock extra_js %}