<!DOCTYPE html>
{% load i18n static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        {% block extra_meta %}{% endblock extra_meta %}
        <title>{% block title %}{{ request.site.title }}{% endblock title %}</title>

        {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        {% endblock css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
        {% block extra_css %}{% endblock extra_css %}
    </head>

    <body class="">
        {% block header %}
        <div id="top-header">
            <div class="container">
                <nav class="navbar navbar-default" style="background-color: #e3f2fd;">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="/">
                        <img alt="Brand" src="{% static 'img/Logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Storage">
                          <p>Storage</p>
                      </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                      {% if request.user.is_authenticated %}
                          <li><a href="{% url 'accounts:logout' %}" id="logout_button">Log out</a></li>
                      {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                      {% endif %}
                      </ul>
                    </div>

                  </div>
                </nav>
            </div>
        </div>

        {% endblock header %}

        <div class="main-content">
            <div class="container">
                {% block container %}{% endblock container %}
            </div>
        </div>


        {% block footer %}
        <footer class="page-footer font-small blue fixed-bottom">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> Amir Hossain</a>
          </div>
          <!-- Copyright -->

        </footer>
        {% endblock footer %}

        {% block js %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
        <script src="{% static 'js/jquery.cookie.js' %}" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock js %}

        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>



